* {
  font-family: Roboto;
  margin: 0;
}

:root {
  --main-color-background: #f6f6f6;
  --main-color-secondary: #fca311;
  --main-color-primary: #9356dc;
  --main-color-primary2: #f5edff;
  --main-color-greenfront: #008766;
  --main-color-green: #99e2d0;
  --main-color-black: #101010;
  --main-color-grey: #353535;
  --main-color-grey2: #eaeaea;
  --main-color-grey4: #7e7e7e;
  --main-color-buttonGradient: linear-gradient(#ff79da, #9356dc);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  height: 1000px;
  border: 1px solid black;
  background-color: var(--main-color-background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  background: #fff;
}
header .fleche {
  display: flex;
  left: 17px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
header .fleche img {
  width: 17.2px;
  height: 16px;
}
header img {
  width: 197px;
  height: 36px;
}

.image-resto {
  height: 225px;
  width: 100%;
}
.image-resto img {
  width: 100%;
}

.coeur-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 21px;
}
.coeur-label #coeurVide {
  display: block;
}
.coeur-label #coeurPlein {
  display: none;
}
.coeur-label #coeur-checkbox,
.coeur-label #coeur-checkbox2,
.coeur-label #coeur-checkbox3,
.coeur-label #coeur-checkbox4 {
  display: none;
}
.coeur-label #coeur-checkbox:checked + .coeur-svg,
.coeur-label #coeur-checkbox2:checked + .coeur-svg,
.coeur-label #coeur-checkbox3:checked + .coeur-svg,
.coeur-label #coeur-checkbox4:checked + .coeur-svg {
  fill: #9356dc;
  stroke: none;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--main-color-background);
  width: calc(100% - 13px - 13px);
  border-radius: 50px 50px 0 0;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  gap: 40px;
}
.container .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 41px;
  padding-left: 17px;
}
.container .title h2 {
  font-family: shrikhand;
  font-size: 28px;
}

.entrees {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-box {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-box h2 {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  padding: 0;
  text-transform: uppercase;
}
.title-box .barre-verte {
  display: flex;
  width: 40px;
  height: 3px;
  background-color: var(--main-color-green);
}

.checkedentree {
  display: flex;
  width: 59px;
  height: 100%;
}

.entree {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;
  padding-left: 15px;
}
.entree .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  height: 100%;
  gap: 5px;
}
.entree .text h3 {
  font-size: 18px;
  font-weight: 500;
}
.entree .text h4 {
  font-size: 15px;
  font-weight: 300;
}

#text-row {
  display: flex;
  flex-direction: row;
  padding: 0;
}
#text-row .prix {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  padding-bottom: 10px;
  margin-right: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: calc(100% - 25px);
  gap: 16px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--main-color-grey);
}
footer svg {
  width: 139px;
  height: 27px;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .links a {
  color: #fff;
  text-decoration: none;
}
footer .links .gras {
  font-size: 16px;
  font-weight: 500;
}

/*# sourceMappingURL=paletteDuGout.css.map */
