* {
  font-family: Roboto;
  margin: 0;
}

:root {
  --main-color-background: #f6f6f6;
  --main-color-secondary: #fca311;
  --main-color-primary: #9356dc;
  --main-color-primary2: #f5edff;
  --main-color-greenfront: #008766;
  --main-color-green: #99e2d0;
  --main-color-black: #101010;
  --main-color-grey: #353535;
  --main-color-grey2: #eaeaea;
  --main-color-grey4: #7e7e7e;
  --main-color-buttonGradient: linear-gradient(#ff79da, #9356dc);
}
body {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  background-color: var(--main-color-background);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  background: #fff;
  .fleche {
    display: flex;
    position: absolute;
    left: 17px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
      width: 17.2px;
      height: 16px;
    }
  }
  img {
    width: 197px;
    height: 36px;
  }
}
.image-resto {
  height: 225px;
  width: 100%;
  img {
    width: 100%;
  }
}
.coeur-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 21px;
  box-shadow: none;
  #coeurVide {
    display: block;
  }
  #coeurPlein {
    display: none;
  }
  #coeur-checkbox,
  #coeur-checkbox2,
  #coeur-checkbox3,
  #coeur-checkbox4 {
    display: none;
    &:checked + .coeur-svg {
      fill: #9356dc;
      stroke: none;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color-background);
  width: calc(100% - 13px - 13px);
  border-radius: 50px 50px 0 0;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  gap: 40px;
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    h2 {
      font-family: shrikhand;
      font-size: 28px;
      font-weight: 400;
      width: auto;
    }
  }
}
label{
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;

  gap: 12px;
  width: 100%;
}
.title-box {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding: 0;
    text-transform: uppercase;
  }
  .barre-verte {
    display: flex;
    width: 40px;
    height: 3px;
    background-color: var(--main-color-green);
  }
}
.entree-label, .plat-label, .dessert-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 69px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;
  padding-left: 15px;
  #entree-checkbox,
  #entree-checkbox2,
  #entree-checkbox3,
  #plat-checkbox,
  #plat-checkbox2,
  #plat-checkbox3,
  #dessert-checkbox,
  #dessert-checkbox2,
  #dessert-checkbox3
   {
    display: none;
  }
  :checked + #text-row {
    right: 0;
  }
  .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    height: 100%;
    gap: 5px;
    overflow: hidden;
    h3 {
      font-size: 18px;
      font-weight: 500;
    }
    h4 {
      font-size: 15px;
      font-weight: 300;
    }
  }
}

#text-row {
  display: flex;
  position: absolute;
  right: -60px;
  height: 100%;
  transition: all linear 0.5s;
  gap: 0px;
}

#text-row {
  display: flex;
  flex-direction: row;
  padding: 0;
  z-index: 1;
  .prix {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-right: 10px;
    min-width: 40px;
  }
}

.commandebtn{
  display: flex;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background:var(--main-color-buttonGradient);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-bottom: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: calc(100% - 25px);
  gap: 16px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--main-color-grey);
  svg {
    width: 139px;
    height: 27px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      color: #fff;
      text-decoration: none;
    }
    .gras {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
