* {
  font-family: Roboto;
  margin: 0; }

:root {
  --main-color-background: #f6f6f6;
  --main-color-secondary: #fca311;
  --main-color-primary: #9356dc;
  --main-color-primary2: #f5edff;
  --main-color-greenfront: #008766;
  --main-color-green: #99e2d0;
  --main-color-black: #101010;
  --main-color-grey: #353535;
  --main-color-grey2: #eaeaea;
  --main-color-grey4: #7e7e7e;
  --main-color-buttonGradient: linear-gradient(#ff79da, #9356dc); }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-background); }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  background: #fff; }
  header .fleche {
    display: flex;
    position: absolute;
    left: 17px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px; }
    header .fleche img {
      width: 17.2px;
      height: 16px; }
  header img {
    width: 197px;
    height: 36px; }

.image-resto {
  position: absolute;
  top: 63px;
  height: 275px;
  width: 100%;
  overflow: hidden;
  z-index: -1; }
  .image-resto img {
    height: 100%;
    width: 100%; }

.coeur-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 21px;
  box-shadow: none;
  cursor: pointer; }
  .coeur-label .coeur-svg {
    fill-opacity: 0;
    transition: all 2s steps(6); }
  .coeur-label #coeur-checkbox,
  .coeur-label #coeur-checkbox2,
  .coeur-label #coeur-checkbox3,
  .coeur-label #coeur-checkbox4 {
    display: none; }
    .coeur-label #coeur-checkbox:checked + .coeur-svg,
    .coeur-label #coeur-checkbox2:checked + .coeur-svg,
    .coeur-label #coeur-checkbox3:checked + .coeur-svg,
    .coeur-label #coeur-checkbox4:checked + .coeur-svg {
      fill-opacity: 1;
      stroke: none; }

.container {
  box-sizing: border-box;
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color-background);
  width: 100%;
  max-width: 1055px;
  border-radius: 50px 50px 0 0;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  gap: 40px; }
  .container .title {
    box-sizing: border-box;
    padding-right: 20px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    animation: anim 0.5s linear 0.5s forwards; }
    .container .title h2 {
      font-family: shrikhand;
      font-size: 28px;
      font-weight: 400;
      width: auto; }

label {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.entrees,
.plats,
.desserts {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  animation: anim 0.5s linear 1s forwards; }

.title-box {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .title-box h2 {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding: 0;
    text-transform: uppercase; }
  .title-box .barre-verte {
    display: flex;
    width: 40px;
    height: 3px;
    background-color: var(--main-color-green); }

.entree-label,
.plat-label,
.dessert-label {
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 69px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;
  padding-left: 15px;
  animation: anim 1s linear 1.5s forwards;
  cursor: pointer; }
  .entree-label #entree-checkbox,
  .entree-label #entree-checkbox2,
  .entree-label #entree-checkbox3,
  .entree-label #entree-checkbox4,
  .entree-label #plat-checkbox,
  .entree-label #plat-checkbox2,
  .entree-label #plat-checkbox3,
  .entree-label #dessert-checkbox,
  .entree-label #dessert-checkbox2,
  .entree-label #dessert-checkbox3,
  .plat-label #entree-checkbox,
  .plat-label #entree-checkbox2,
  .plat-label #entree-checkbox3,
  .plat-label #entree-checkbox4,
  .plat-label #plat-checkbox,
  .plat-label #plat-checkbox2,
  .plat-label #plat-checkbox3,
  .plat-label #dessert-checkbox,
  .plat-label #dessert-checkbox2,
  .plat-label #dessert-checkbox3,
  .dessert-label #entree-checkbox,
  .dessert-label #entree-checkbox2,
  .dessert-label #entree-checkbox3,
  .dessert-label #entree-checkbox4,
  .dessert-label #plat-checkbox,
  .dessert-label #plat-checkbox2,
  .dessert-label #plat-checkbox3,
  .dessert-label #dessert-checkbox,
  .dessert-label #dessert-checkbox2,
  .dessert-label #dessert-checkbox3 {
    display: none; }
  .entree-label :checked + .text-row,
  .plat-label :checked + .text-row,
  .dessert-label :checked + .text-row {
    right: 0; }
    .entree-label :checked + .text-row + .text,
    .plat-label :checked + .text-row + .text,
    .dessert-label :checked + .text-row + .text {
      width: 55%; }

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  height: 100%;
  gap: 5px;
  width: 75%; }
  .text h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500; }
  .text h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 300; }

.text-row {
  display: flex; }

.text-row {
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
  right: -60px;
  height: 100%;
  transition: all linear 0.5s;
  gap: 0px; }
  .text-row .prix {
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-right: 10px;
    min-width: 40px;
    animation: anim 2s linear 2.5s forwards; }

.commandebtn {
  opacity: 0;
  display: flex;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: var(--main-color-buttonGradient);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  cursor: pointer;
  animation: anim 2s linear 3s forwards; }
  .commandebtn:hover {
    background: linear-gradient(rgba(255, 122, 217, 0.8), rgba(146, 86, 220, 0.8));
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35); }

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--main-color-grey); }
  footer svg {
    width: 139px;
    height: 27px; }
  footer .links {
    display: flex;
    flex-direction: column;
    gap: 7px; }
    footer .links a {
      color: #fff;
      text-decoration: none; }
    footer .links .gras {
      font-size: 16px;
      font-weight: 500; }

@keyframes anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (min-width: 426px) {
  body {
    align-items: center;
    background: white; }

  header {
    width: 100%; }

  .image-resto img {
    width: 130%;
    height: 383px;
    transform: translate(-15%, -25%); }

  .title {
    justify-content: center; }

  .entrees,
  .plats,
  .desserts {
    max-width: 634px; }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 25px;
    padding-right: 45px;
    width: 100%; }
    footer svg {
      width: 139px;
      height: 27px; }
    footer .links {
      display: flex;
      flex-direction: row;
      gap: 5px;
      text-align: center;
      align-items: center; } }
@media (426px <= width <= 500px) {
  footer {
    padding: 10px;
    gap: 15px; }
    footer .links {
      font-size: 10px;
      gap: 3px; } }
@media (min-width: 768px) {
  .container {
    margin-top: 283px;
    width: 70%; }

  .image-resto {
    height: 383px; }
    .image-resto img {
      width: 100%;
      height: 956px;
      transform: translateY(-35%); }

  footer {
    gap: 15px; }
    footer .links {
      gap: 15px; } }

/*# sourceMappingURL=paletteDuGout.css.map */
