* {
  font-family: Roboto;
  margin: 0;
}

:root {
  --main-color-background: #f6f6f6;
  --main-color-secondary: #0f0e0d;
  --main-color-primary: #9356dc;
  --main-color-primary2: #f5edff;
  --main-color-greenfront: #008766;
  --main-color-green: #99e2d0;
  --main-color-black: #101010;
  --main-color-grey: #353535;
  --main-color-grey2: #eaeaea;
  --main-color-grey4: #7e7e7e;
  --main-color-buttonGradient: linear-gradient(#ff79da, #9356dc);
}
body {
  position: relative;
  background-color: var(--main-color-background);
}
.loader{
  position: absolute;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  animation: loader 3s linear;
  img{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 30%);
    width: 50%;
    animation: spin 2s linear infinite;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  background: #fff;
  .fleche {
    display: none;
    position: absolute;
    left: 17px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
      width: 17.2px;
      height: 16px;
    }
  }
  img {
    width: 197px;
    height: 36px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: var(--main-color-grey2);
  img {
    width: 12px;
    height: 16px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
  }
}

.explorateur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 89px;
  h3 {
    display: flex;
    width: 275px;
    height: 68px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  p {
    display: flex;
    width: 307px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: var(--main-color-grey);
  }
  .button {
    display: flex;
    width: 218px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    background: var(--main-color-buttonGradient);
    color: #fff;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 27px;
    margin-bottom: 57px;
    text-decoration: none;
    transition: all .3s;
    &:hover{
      opacity: 0.8;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #fff;
  gap: 40px;
  h3 {
    font-size: 24px;
  }
  .boutton {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    .group1 {
      position: relative;
      width: 100%;
      height: 72.38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .group2 {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--main-color-primary);
        color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
      .group3 {
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
        width: 86%;
        height: 100%;
        border-radius: 20px;
        background-color: var(--main-color-background);
        padding-left: 10%;
        gap: 5%;
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.125em;
  padding-top: 40px;
  padding-left: 17px;
  padding-right: 18px;
  .restaurentsListe {
    display: flex;
    flex-direction: column;
    gap: 1.125em;
  }
  h2 {
    width: 100%;
  }
}
.restaurant{
  position: relative;
  a {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
.coeur-label {
  position: absolute;
  right: 25px;
  bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 21px;
  #coeur-checkbox,
  #coeur-checkbox2,
  #coeur-checkbox3,
  #coeur-checkbox4 {
    display: none;
    &:checked + .coeur-svg {
      fill: #9356dc;
      stroke: none;
    }
  }
}

.restaurant {
  position: relative;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 70%;
    img {
      width: 100%;
    }
  }
  .new {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    right: 12px;
    top: 13px;
    background-color: var(--main-color-green);
    color: var(--main-color-greenfront);
  }
  .texte {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 13px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 17px;
    font-weight: 300;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 66px;
  background-color: var(--main-color-grey);
  svg {
    width: 139px;
    height: 27px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      color: #fff;
      text-decoration: none;
    }
    .gras {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
@keyframes spin {
  0%{
    transform: translate(-50%, 30%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, 30%) rotate(360deg);
  }
}
@keyframes loader {
  0%{display: flex; opacity: 1;}
  95%{opacity: 1;}
  100%{display: none; opacity: 0;}
}


@media (min-width: 426px) {
  .explorateur {
    padding-left: 50px;
    padding-right: 50px;
    gap: 18px;
    h3,
    p {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .fonctionnement {
    padding-left: 50px;
    padding-right: 50px;
    .boutton {
      flex-direction: row;
    }
  }
  .restaurants {
    padding-left: 50px;
    padding-right: 50px;
    .restaurentsListe {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        width: 48%;
        height: 251px;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 25px;
    padding-right: 45px;
    svg {
      width: 139px;
      height: 27px;
    }
    .links {
      display: flex;
      flex-direction: row;
      gap: 5px;
      text-align: center;
      align-items: center;
    }
  }
}
@media (min-width: 768.5px){
  .explorateur {
    padding-left: 120px;
    padding-right: 120px;
  }
  .fonctionnement {
    padding-left: 120px;
    padding-right: 120px;
  }
  .restaurants {
    padding-left: 120px;
    padding-right: 120px;
  }
  footer {
    gap: 15px;
    .links {
      gap: 15px;
    }
  }
}
